body {
    margin: 0;
    padding: 0;
    font-family: 'Wellfleet', monospace;
}
/* title screen */
#introvid {
    width:100%; 
    position: absolute;
}
.logo {
    position: relative;
    top: 150px;
    left: 400px;
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
  .clickanywhere {
      position: relative;
      font-family: 'Wellfleet', monospace;
      animation: fadeIn 2s;
      color: #F7CC40;
      background-color:#736147;
      width: max-content;
      padding: 10px;
      border-radius: 10px;
      top: 180px;
      left: 460px;
  }

.title {
        display: none;
}
#gameContent{
    display: none;
}
#gameBackground {
    animation: fadeIn 1.5s;
    width: 100%;
    height: 100%;
    position: absolute;
}
/* end titlescreen css */
.formfield {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 300px;
    margin-left: 27%;
    width: 500px;
}
.mainBtn {
    margin-top: 300px;
    margin-left: 25%;
    width: max-content;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(18, 167, 167);
    color: white;
}
.mainBtn:hover {
    transition: 0.5s;
    background-color: rgb(29, 117, 117);
}
#usernameInpT, #createPT {
    display: none;
    margin-top: 300px;
    margin-left: 27%;
    animation: fadeIn 2s;
}
.imgclass {
    position: relative;
    width: 48px;
    height: 60px;
    border: 3px white solid;
    border-radius: 10px;
    background-color: rgb(255, 209, 81);
    padding: 5px;
    margin: 5px;
}.imgclass:hover {
    background-color: rgb(255, 236, 183);
    transition: 1s;
    cursor: pointer;
}
#villageSelectUIO {
    margin: 10px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px
    60px 60px 60px;
    
}